<% provide(:title, "Instructions") %>
 <div class="mainCont">
  <h1>Instructions on how to use re-usable nappies and woman pads</h1>
  
  <%= image_tag("how.jpeg", alt: "how", :class => "how") %>

<%= image_tag("all.jpg", alt: "All in one", :class => "all") %>
<%= image_tag("padparts.jpg", alt: "Pads", :class => "pads") %>
<%= image_tag("single.png", alt: "single", :class => "single") %>

  </div>
  <%= yield %>