<p id="notice"><%= notice %></p>
<% if @cart.empty? %>
<p>Your cart is empty!</p>
<% end %>

<div id="itemsContainer">
    
    <table id="customers">
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %>
            <% item = Item.find_by_id(id) %>
        <tr>
        <td class="image" >
         <%= link_to (image_tag item.image_url, :class => "itemholsIm"), item %>
        </td>
        <td class="quantity"><%= item.title %></td>
        <td class="price"><%= number_to_currency(item.price, :unit=>"€") %></td>
        <td class="price"><%= quantity %></td>
        <td class="price"><a href="/cart/remove/<%= item.id %>" class="button">Remove</a></td>
       <td class="price"><a href="/cart/decrease/<%= item.id %>" class="button">Decrease</a></td>
         <td class="price"><%= number_to_currency(quantity * item.price, :unit=>"€") %></td>
        </tr>
        
        <% total += quantity * item.price %>
        <% end %>
        
         
        
        <tr>Grand total: <%= number_to_currency(total, :unit=>"€") %></tr>
      
    </table>
    
     <a href="/cart/clear" class="button">Clear Cart</a>
    <a href="/items" class="button">Continue Shopping</a>
    <a href="/checkout" class="button">Checkout</a>
</div>